*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build/
/.gradle/
/.idea/
/app/build/
/app/release/
/app/debug/
/release/
/debug/
/build_manual/
KeyoneKB2-*.apk
K12KB-*.apk
build_number.txt
/build_ci/
