<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sateda.keyonekb2">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.Manifest.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivitySettings"></activity>
        <activity android:name=".ActivitySettingsMore"></activity>
        <activity android:name=".ActivityKeyboardTest"></activity>
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".KeyoneIME"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:directBootAware="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/keyonekb_input_method" />
        </service>
        <service android:name=".KeyoneKb2AccessibilityService"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                 android:label="@string/keyonekb_accessibility_service_label">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/keyonekb_accessibility_service_config"
                     />
        </service>
        <activity
                android:name=".IntentQuickSettings"
                android:label="IntentQuickSettings"
                android:theme = "@android:style/Theme.Translucent.NoTitleBar"
                >
            <!--
            android:theme="@android:style/Theme.NoDisplay"
            android:theme = "@style/AppTheme2.NoDisplay"
            -->
            <intent-filter>
                <action android:name="com.sateda.keyonekb2.IntentQuickSettings"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".IntentNotifications"
                android:label="IntentNotifications"
                android:theme = "@android:style/Theme.Translucent.NoTitleBar"
        >
            <intent-filter>
                <action android:name="com.sateda.keyonekb2.IntentNotifications"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service android:name="com.google.android.voiceime.ServiceHelper" />
        <activity
                android:name="com.google.android.voiceime.ActivityHelper"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:excludeFromRecents="true"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:finishOnTaskLaunch="true"
                android:configChanges="keyboard|keyboardHidden|navigation|orientation"/>
    </application>

</manifest>